#block8 {
	position: absolute;
	background-color: #16b8c6;
	height: 720px;
	min-width: 820px;
	padding: 0 144px;
	margin-left: calc((100% - 1094px)/2 - 10px);
	top: 35px;
	z-index: 2;
	display: none;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s linear;
}

@media (max-width: 1370px) {
	#block8 {
		margin-left: 4%;
	}	
}
@media (max-width: 1365px) {
	#block8 h5 {
		margin-bottom: 20px;
		padding-top: 34px;
	}
	.reg input[type="text"] {
		height: 48px;
	}
	#block8 textarea {
		height: 4em;
	}
	#block8 {
		height: 580px;
	}
}


@media (max-width: 1200px) {
	#block8 {
		max-width: 78%;
		min-width: 78%;
		height: 515px;
		padding: 0 7%;
	}
	#block8 textarea {
		height: 3em;
	}
}
@media (max-width: 1000px) {
	#block8 {
		padding: 0 10px;
		margin-left: 8%;
	}
	#block8.reg h5 {
		padding-top: 10px;
	}
	.reg input[type="text"] {
		height: 38px;
	}
}


@media (max-width: 600px) {
	#block8 {
		height: 600px;
		max-width: 85%;
		min-width: 85%;
		padding: 0 10px;
		margin-left: 4%;
	}

}