#block4_mobile {
	margin-top: 36px;
}
.slider_mobile {	
	display: flex;
	overflow-x: auto;
}
#block4_mobile img {
	margin-right: 24px;
	min-width: 348px;
}

@media (max-width: 600px) {
	#block4_mobile img {
		min-width: 200px;
		height: 200px;
	}
}