#block3 {
	background-color: #ffffff;
	color: #000000;
}
#block3 h4 {
	margin: 0;
	font-family: TTNorms-Bold;
	font-size: 30px;
	line-height: 36px;
	margin-top: 105px;	
	margin-bottom: 27px;
}

#block3 ul {
	margin: 0;
	padding: 0;
}
#block3 ul li {
	list-style-type: none;
	background: url(../images/check.png) no-repeat left 10%;
	line-height: 48px;
	padding-left: 40px;
}
#block3 p {
	font-family: TTNorms-Medium;
	font-size: 18px;
	padding-left: 20px;
	margin: 0;
}
#block3 i {
	color: #15b0be;
	font-size: 40px;
	margin-right: 20px;
}
#block3 span {
	color: #15b0be;
	font-family: TTNorms-Bold;
	font-size: 30px;
	text-decoration: none;
} 


@media (max-width: 1000px) {
	line-height: 30px;
}